@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        body {
            background-color: #f0f8ff;
            font-family: 'Arial', sans-serif;
        }

        h1, h2 {
            color: #4682b4;
            margin-top: 20px;
        }

        hr {
            background-color: #4682b4;
            height: 3px;
        }

        .form-control {
            border-color: #ddd;
            background-color: #e1ecf9;
            color: #555;
        }

        .form-label {
            color: #4682b4;
        }

        .btn-primary {
            background-color: #5f9ea0;
            border-color: #5f9ea0;
            color: #fff;
        }

            .btn-primary:hover {
                background-color: #4682b4;
                border-color: #4682b4;
            }

        .form-floating label {
            color: #4682b4;
        }

        .text-danger {
            color: #b22222;
        }

        .form-check-label {
            color: #555;
        }

        .form-check-input {
            background-color: #e1ecf9;
            border-color: #4682b4;
        }

            .form-check-input:checked {
                background-color: #5f9ea0;
                border-color: #5f9ea0;
            }

        .register-form {
            max-width: 500px;
            width: 100%;
            margin: 20px auto 0px 100px;
            padding: 50px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

        .additional-content {
            max-width: 400px;
            width: 100%;
            margin: 20px auto 50px 0px;
            color: #4682b4;
        }

            .additional-content h3 {
                font-size: 24px;
                margin-bottom: 20px;
            }

            .additional-content p {
                font-size: 16px;
                line-height: 1.5;
            }
    </style>
</head>
<body>
    <div class="row justify-content-center">
        <div class="register-form">
            <section class="text-center">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2>Create account to start your football journey.</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" placeholder="Firstname" />
                        <label asp-for="Input.FirstName"></label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Lastname" class="form-control" autocomplete="username" aria-required="true" placeholder="Lastname" />
                        <label asp-for="Input.Lastname"></label>
                        <span asp-validation-for="Input.Lastname" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email Address" />
                        <label asp-for="Input.Email"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                        <label asp-for="Input.Password"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                        <label asp-for="Input.ConfirmPassword"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-check mb-3">
                        <input asp-for="Input.isTrainer" type="checkbox" class="form-check-input" id="isTrainer" />
                        <label class="form-check-label" for="isTrainer">I am a Trainer</label>
                    </div>

                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </form>
            </section>
        </div>

        <div class="additional-content">
            <section class="additional-content">
                <h3>Join our Football Community!</h3>
                <p>Discover the excitement of football with our community. Sign up today to connect with fellow enthusiasts and stay updated on the latest news and events.</p>
            </section>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
