html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-link strong {
    padding: 0.3vw;
    border-radius: 15%;
    color: #fff;
    background-color: #0074D9;
    transition: color 0.6s ease-in-out, background-color 0.6s ease-in-out;
}

    .nav-link strong:hover {
        color: #ff4500;
        background-color: #695F5F;
    }